<h4>Template-Outlet Example1</h4>



<ng-template let-message="message" #mavericks>
    <p>{{message}}</p>
</ng-template>
<div *ngTemplateOutlet="mavericks; context:{message: 'This is an angular template partial'}">
</div>

<ng-template #myTemplate let-name="name">
    <p>{{name}}</p>
</ng-template>

<div>
    <ng-container *ngTemplateOutlet="myTemplate; context: { name: 'Alice' }"></ng-container>
    <ng-container *ngTemplateOutlet="myTemplate; context: { name: 'Bob' }"></ng-container>
    <ng-container *ngTemplateOutlet="myTemplate; context: { name: 'Charlie' }"></ng-container>
</div>




<div>
    <button class="btn btn-secondary ms-2 w-25" (click)="next()">Next</button>
</div>